BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
BinPackArguments: false
BinPackParameters: false
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakFirstLessLess: 0
AllowAllArgumentsOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakBeforeInlineLambdaBody: true
AlignAfterOpenBracket: false
ContinuationIndentWidth: 4
AllowShortBlocksOnASingleLine: false
AlwaysBreakBeforeClosingBracket: true
PenaltyBreakBeforeClosingBrace: 0
PenaltyReturnTypeOnItsOwnLine: 0
PenaltyBreakBeforeClosingBracket: 0
